---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Servicios from "../components/Servicios.astro";
import Galeria from "../components/Galeria.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import Clientes from "../components/Clientes.astro";
import FloatWhatsApp from "../components/FloatWhatsApp.astro";
---
<BaseLayout>
  <Header />
  <main id="main">
    <Hero />
    <Servicios />
    <Galeria />
    <Clientes />
    <CTA />
  </main>
  <Footer />
  <FloatWhatsApp />
</BaseLayout>
